.outerTable{
    /* background-color: aquamarine; */
    padding: 20px;
    border: 1px solid black;
 
}
.tr , th{
    padding: 20px;
    color: brown;
}
.td{
 justify-content: flex-start;

}
.edit{
    margin: 10px;
}
.content{
    margin-top: 40px;
}
